


<div class="container" >
   <h4 class="text-center"> Cakes by Reut ברוכים הבאים ל </h4>
   <div class="row">
        <div class="col-md-4">
        <a routerLink="/desserts-shop">
            <img class="img-circle" src="assets/images/cake3.jpg">
        </a> 
        </div>
        <div class="col-md-4">
            <a routerLink="/desserts-shop">
            <img class="img-circle" src="assets/images/cookies4.jpg">
            </a>
        </div>
        <div class="col-md-4">
            <a routerLink="/desserts-shop">
            <img class="img-circle" src="assets/images/numbers6.jpg">    
            </a>
        </div>
    </div>
    <div class="row" style="margin-top:75px">
        <div class="col-md-4">
            <a routerLink="/desserts-shop">
                    <img class="img-circle" src="assets/images/cake2.jpg">
            </a>
        </div>
        <div class="col-md-4">
            <a routerLink="/desserts-shop">
                    <img class="img-circle" src="assets/images/dessert1.jpg">
            </a>
        </div>
        <div class="col-md-4">
            <a routerLink="/desserts-shop">
            <img class="img-circle" src="assets/images/numbers6.jpg">
            </a>
        </div>          
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
        <a routerLink="/recipes">
            <img class="img-circle" src="assets/images/bachelorette-cake.jpg">
        </a> 
        </div>
        <div class="col-md-4">
            <a routerLink="/recipes">
                    <img class="img-circle" src="assets/images/cookies1.jpg">
            </a>
            
        </div>
        <div class="col-md-4">
            <a routerLink="/recipes">
              <img class="img-circle" src="assets/images/numbers3.jpg">
            </a>
        </div>
    </div>

    <div style="margin-top:20px;">
        <button routerLink="/recipes"><strong>לעוד מתכונים </strong></button>
    </div>
    <hr>
    <a href="https://www.instagram.com/cakes_by_reut_/">
            <img class="instagram-img" src="assets/images/insta-img.jpg">
    </a>
   
</div>
