

nav{
    background:url('/assets/images/pink-watercolor-texture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   

}
div{
    text-align: center;
}
ul {
    list-style-type: none;
    display: inline-block;
     margin: 0;
    padding: 0;
    overflow: hidden;   
}
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  li a:hover {
    background-color:purple;
    font-size: 25px;
  }
