
 
 <nav class="navbar navbar-fixed-top"
 style="background-color: plum">
     <div class="container-fluid">
     <!-- <div class="row" > -->
        <div class="col-md-12" style="margin-top:150px">
            <ul>
                    <li><a href="https://www.instagram.com/cakes_by_reut_/"><i class="fa fa-instagram"></i></a></li>
               
                <li><a  routerLink="/recipes">מתכונים</a></li>
                <li><a routerLink="/">הסיפור שלי</a></li>
                <li><a routerLink="/">דף הבית</a></li>
            </ul>
        </div>
     </div>
    <!-- </div> -->
 </nav>

